@import '../../../tools/scss/config';

:local(.styles) {
  position: fixed;
  top: 50px;
  right: 0;
  width: $editPanelWidth;
  height: calc(100% - 40px);
  padding: 10px 20px 0 25px;
  animation: .6s show ease-in-out forwards;
  border-left: 1px solid rgba(0, 0, 0, .7);

  h2 {
    padding-bottom: 10px;
    display: block;
  }
  
  .text {
    font-size: 2rem;
    display: block;
    margin-bottom: 15px;
  }

  button {
    width: 100%;
    height: 44px;
    transition: all .25s ease;
    border: none;
    border-radius: 6px;
    &:hover {
      filter: brightness(1.05);
    }
  }

  .add {
    color: $goalEditPanelButtonColor;
    background: $goalEditPanelButtonBackgroundColor;
  }

  .delete {
    background: gray;
    color: white;
    margin-top: 10px;
  }

  input[type='text'] {
    line-height: 40px;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding-left: 15px;
    border: 1px solid rgba(0, 0, 0, .2);
    transition: all 0.3s ease;
    margin-top: 5px;
    &:focus {
      outline: none;
      box-shadow: 0px 0px 10px 0px rgba(78, 185, 238, .6);
    }
  }
  
  @keyframes show {
    0% {
      right: -20px;
      opacity: 0;
    }
    100% {
      right: 0;
      opacity: 1;
    }
  }
}
