@import '../../../tools/scss/config';

:local(.styles) {
  position: relative;
  margin-top: -2px;
  
  .header__navbar {
    a {
      display: inline-block;
      width: 100%;
      transform: translateZ(0);
      &.active {
        opacity: 1 !important;
        color: white !important;
        background: $navbarBackgroudColor !important;
      }
    }
  }
}
