// ***************************************************************************
// Colors
// ***************************************************************************
$navbarBackgroudColor: #868383;
$goalBackgroundColor: #1da9d6;
$goalActiveBackgroundColor: black;
$footerBackgroundColor: #f5f5f5;
$goalEditPanelButtonColor: white;
$goalEditPanelButtonBackgroundColor: #1da9d6;
$goalsHeaderPlusColor: black;
$goalsHeaderCloseColor: black;
$goalsAddButtonColor: white;
$goalsAddButtonBackgroundColor: #1da9d6;

// ***************************************************************************
// Sizes
// ***************************************************************************
$editPanelWidth: 300px;

