@import '../../../tools/scss/config';

:local(.styles) {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $footerBackgroundColor;
  
  .footer__link {
    @include ghostVA();

    display: inline-block;
    opacity: .5;
  }
}
