@import '../../../tools/scss/config';

:local(.styles) {
  position: fixed;
  top: 50px;
  right: 0;
  width: $editPanelWidth;
  height: calc(100% - 40px);
  padding: 20px 20px 0 25px;
  animation: .6s show ease-in-out forwards;
  border-left: 1px solid rgba(0, 0, 0, .7);

  .text {
    font-size: 2rem;
    display: block;
    margin-bottom: 15px;
  }

  button {
    width: 100%;
    height: 44px;
    transition: all .25s ease;
    border: none;
    border-radius: 6px;
    &:hover {
      filter: brightness(1.05);
    }
  }

  input[type='text'] {
    line-height: 35px;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
    padding-left: 15px;
  }
  
  @keyframes show {
    0% {
      right: -20px;
      opacity: 0;
    }
    100% {
      right: 0;
      opacity: 1;
    }
  }
}
