@import '../../../tools/scss/config';

:local(.styles) {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  border-radius: 12px;
  background: $goalBackgroundColor;
  transition: all 0.3s ease;

  &.active {
    color: $goalActiveBackgroundColor;
    border: 1px solid rgba(0, 0, 0, .4);
    background: white;
  }
}
