@import '../../../tools/scss/config';

:local(.styles) {
  position: relative;
  display: inline-block;
  margin-right: 25px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border: 1px solid transparent;
  border-radius: 12px;
  background: $goalBackgroundColor;
  
  &.active {
    color: $goalActiveBackgroundColor;
    border: 1px solid black;
    background: white;
  }
}
